<a href="https://colab.research.google.com/github/rani56789/Rani-Yosia-Sianturi_datmin/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Memuat Data**

Langkah pertama adalah memuat dataset dari file CSV ke dalam DataFrame.

In [23]:
import pandas as pd
# Memuat data dari file CSV
df = pd.read_csv('movie_sample_dataset.csv')

**2. Memeriksa Data**

In [24]:
# Menampilkan 5 baris pertama dari dataset
print(df.head())
# Informasi umum dataset termasuk tipe data dan jumlah nilai yang hilang
print(df.info())

    color      director_name  duration        gross  \
0   Color    Martin Scorsese       240  116866727.0
1   Color        Shane Black       195  408992272.0
2  color   Quentin Tarantino       187   54116191.0
3   Color   Kenneth Lonergan       186      46495.0
4   Color      Peter Jackson       186  258355354.0

                                 genres                          movie_title  \
0          Biography|Comedy|Crime|Drama              The Wolf of Wall Street
1               Action|Adventure|Sci-Fi                           Iron Man 3
2  Crime|Drama|Mystery|Thriller|Western                    The Hateful Eight
3                                 Drama                             Margaret
4                     Adventure|Fantasy  The Hobbit: The Desolation of Smaug

   title_year language country       budget  imdb_score  \
0        2013  English     USA  100000000.0         8.2
1        2013  English     USA  200000000.0         7.2
2        2015  English     USA   44000000.0         7.9
3        2011  English     usa   14000000.0         6.5
4        2013  English     USA  225000000.0         7.9

                                              actors  movie_facebook_likes
0  Leonardo DiCaprio,Matthew McConaughey,Jon Favreau                138000
1          Robert Downey Jr.,Jon Favreau,Don Cheadle                 95000
2          Craig Stark,Jennifer Jason Leigh,ZoÃ« Bell                114000
3        Matt Damon,Kieran Culkin,John Gallagher Jr.                     0
4              Aidan Turner,Adam Brown,James Nesbitt                 83000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 88 non-null     object
 1   director_name         88 non-null     object
 2   duration              99 non-null     int64
 3   gross                 91 non-null     float64
 4   genres                98 non-null     object
 5   movie_title           99 non-null     object
 6   title_year            99 non-null     int64
 7   language              99 non-null     object
 8   country               99 non-null     object
 9   budget                95 non-null     float64
 10  imdb_score            99 non-null     float64
 11  actors                99 non-null     object
 12  movie_facebook_likes  99 non-null     int64
dtypes: float64(3), int64(3), object(7)
memory usage: 10.2+ KB
None

**3. Membersihkan Data**

In [25]:
# Menghapus baris dengan nilai NaN pada kolom 'gross' dan 'budget'
df_cleaned = df.dropna(subset=['gross', 'budget'])
# Mengubah nilai yang tidak konsisten, seperti "Color" dan "color", menjadi satu format yang sama
df_cleaned['color'] = df_cleaned['color'].str.lower()
# Menghapus nilai-nilai negatif dalam kolom 'budget' dan 'gross'
df_cleaned = df_cleaned[(df_cleaned['budget'] >= 0) & (df_cleaned['gross'] >= 0)]

# Menghapus atau mengganti nilai "N/A" dengan NaN
df_cleaned.replace("N/A", pd.NA, inplace=True)

<ipython-input-25-0bb1531efe7f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['color'] = df_cleaned['color'].str.lower()

**4. Transformasi Data**

Ubah Tipe Data

In [26]:
# Ubah kolom 'gross' dan 'budget' menjadi numerik
df['gross'] = pd.to_numeric(df['gross'])
df['budget'] = pd.to_numeric(df['budget'])

Split dan Explode Genres

In [27]:
df['genres'] = df['genres'].str.split('|')
df = df.explode('genres')
df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
0,Color,Martin Scorsese,240,116866727.0,Comedy,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
0,Color,Martin Scorsese,240,116866727.0,Crime,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
0,Color,Martin Scorsese,240,116866727.0,Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000

Ubah Semua Text Jadi Uppercase

In [28]:
# Mengubah semua kolom teks menjadi huruf besar
df = df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

<ipython-input-28-43940fde0f1e>:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.upper() if isinstance(x, str) else x)

**5. Penyimpanan Data**

In [29]:
df_cleaned.to_csv('movie_dataset_cleaned.csv', index=False)